/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#allList{
	width: 100%;
}
.liste{
	display: inline-block;
	width:33%;
	height: 100%;
    vertical-align: top;
    text-align: center;
}
.liste table{
	width: 100%;
}
.liste td{
	padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%
}
.liste td div{
    background-color: #9C9CCE;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 5%;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.inputForm{
    padding-left: 20%;
}

.inputForm input {
    margin: 2%;
    display: block;
}

.inputForm select {
    margin: 2%;
    width: 50%;
}
#dataSending{
	text-align:center;
}
.inputForm div{
	display: inline-block;
    vertical-align: top;
}

.buttonForm button{
	margin-left: 5px;
	margin-right: 5px;
}

