

<button type="button" class="btn fixedprojectbutton btn-info" 
style="width:10%;" data-toggle="modal" data-target="#projectModal">Add Project</button>
<button type="button" class="btn fixedpartnerbutton btn-info" 
style="width:10%;" data-toggle="modal" data-target="#partnerModal">Add Partner</button> 
<button type="button" class="btn fixedteambutton btn-info" 
style="width:10%;" data-toggle="modal" data-target="#teamModal">Add Team</button> 


<div class="modal" id="projectModalData" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4>Information</h4>
		    </div>
		    <div class="modal-body">
		    	<form>
		    	
				<div class="form-group"><label>Id : </label><input type="text" class="form-control" ng-model="currentObject.id" disabled="true"></div>
				<div class="form-group"><label>Name :</label><input type="text" class="form-control" ng-model="currentObject.name"><br /></div>
				<div class="form-group">
					<label>Team: </label>
						 <select class="form-control" ng-model="currentObject.team.id" ng-options="team.id as team.id for team in teams">
				        </select>
				</div>
				</form>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-info" ng-click="updateProject(currentObject.id,currentObject.name,currentObject.team.id)" 
		      data-dismiss="modal">Update</button>
		      <button class="btn btn-danger" ng-click="removeProject(currentObject.id)" 
		      data-dismiss="modal">Delete</button>
		      <button class="btn" data-dismiss="modal">Close</button>	
		    </div>
		</div>
	</div>
</div>
<div class="modal" id="userModalData" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4>Information</h4>
		    </div>
		    <div class="modal-body">
				<div class="modal-body">
						    	<form>
		    	
				<div class="form-group"><label>Id : </label><input type="text" class="form-control" ng-model="currentObject.id" disabled="true"></div>
				<div class="form-group"><label>Username :</label><input type="text" class="form-control" ng-model="currentObject.username"><br /></div>
				<div class="form-group">
					<label>Teams: </label>
						 <select multiple class="form-control" ng-model="currentObject.teamsID" ng-options="team.id as team.id for team in teams">
				        </select>
				</div>
		    </div>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-info" ng-click="updatePartner(currentObject.id,currentObject.username,currentObject.teamsID)" 
		      data-dismiss="modal">Update</button>
		      <button class="btn btn-danger" ng-click="removePartner(currentObject.id)" 
		      data-dismiss="modal">Delete</button>
		      <button class="btn" data-dismiss="modal">Close</button>	
		    </div>
		</div>
	</div>
</div>
<div class="modal" id="teamModalData" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4>Information</h4>
		    </div>
		    <div class="modal-body">
				<form>
					 <div class="modal-body">
				<span>Id : </span><span ng-bind="currentObject.id"></span></br></br>
				<span>Users : </span><ul>
										<li ng-repeat="user in currentObject.users" ng-bind="user.username"></li>
									 </ul>
				<span>Projects : </span><ul>
										<li ng-repeat="project in currentObject.projects" ng-bind="project.id"></li>
									 </ul></br>
		    </div>
				</div>
		    <div class="modal-footer">
		      <button class="btn btn-danger" ng-click="removeTeam(currentObject.id)"
		      data-dismiss="modal">Delete</button>
		      <button class="btn" data-dismiss="modal">Close</button>
		    </div>
		</div>
	</div>
</div>
<div class="modal" id="projectModal" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4>Add a project</h4>
		    </div>
		    <div class="modal-body">
		        <span>Give a name : </span>
		        <input type="text" ng-model="projectName"></input>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-info" ng-click="addProject()" data-dismiss="modal">Okay</button>
		      <button class="btn" data-dismiss="modal">Cancel</button>	
		    </div>
		</div>
	</div>
</div>
<div class="modal" id="partnerModal" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4>Add a partner</h4>
		    </div>
		    <div class="modal-body">
		    	<div class="row">
		    		<div class="col-md-3">
				        <span>Give a name : </span>
				    </div>
				    <div class="col-md-9">
				        <input type='text' ng-model="partnerName">
				    </div>
				    <div class="col-md-3">
				        <span>Give a team id : </span>
				    </div>
				    <div class="col-md-9">
				        <select multiple ng-model="teamIdForUserCreation" ng-options="team as team.id for team in teams">
				        </select>
				    </div>
		        </div>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-info" ng-click="addPartner()" data-dismiss="modal">Okay</button>
		      <button class="btn" data-dismiss="modal">Cancel</button>
		    </div>
		</div>
	</div>
</div>
<div class="modal" id="teamModal" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4>Add a new team</h4>
		    </div>
		    <div class="modal-footer">
		      <button class="btn btn-info" ng-click="addTeam()" data-dismiss="modal">Okay</button>
		      <button class="btn" data-dismiss="modal">Cancel</button>
		    </div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-4">
		<div class="jumbotron" style="background-color: #5BC0DE;">
		  <span class=" glyphicon glyphicon-tasks"></span>
		  <h3>My Projects</h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="jumbotron" style="background-color: #5BC0DE;">
		  <span class="glyphicon glyphicon-user"></span>
		  <h3>My Partners</h3>
		</div>
	</div>
	<div class="col-md-4">
		<div class="jumbotron" style="background-color: #5BC0DE;">
		  <span class="glyphicon glyphicon-tags"></span>
		  <h3>My Teams</h3>
		</div>
	</div>
</div>
	
<div class="row">
	<div class="col-md-4">
		<div class="jumbotron" ng-repeat="project in projects" ng-click="saveCurrentObject(project)" 
		ng-bind="project.name" data-toggle="modal" data-target="#projectModalData"></div>
	</div>
	<div class="col-md-4">
		<div class="jumbotron" ng-repeat="user in users" ng-click="saveCurrentObject(user)" 
		ng-bind="user.username" data-toggle="modal" data-target="#userModalData"></div>
	</div>
	<div class="col-md-4">
		<div class="jumbotron" ng-repeat="team in teams" ng-click="saveCurrentObject(team)"
		ng-bind="team.id" data-toggle="modal" data-target="#teamModalData"></div>
	</div>
</div>
